In [1]:
import pandas as pd
import json

In [2]:
new_blog = pd.read_json("../../data/related_data_rm_duplicacy.json")
new_blog.head(5)

,author_link,author_name,claps,content,last_modified_date,post_link,publish_date,readtime,responses,tags,title,voters
0,https://medium.com/@jimmysong,Jimmy Song,21054,The Truth about Smart ContractsJimmy SongFollo...,2018-06-21,https://medium.com/@jimmysong/the-truth-about-...,2018-06-11,8.87,152,"[Blockchain, Smart Contracts, Bitcoin, Ethereu...",The Truth about Smart Contracts,2457
1,https://medium.com/@ConsenSys,ConsenSys,6612,A 101 Noob Intro to Programming Smart Contract...,2019-09-10,https://medium.com/@ConsenSys/a-101-noob-intro...,2015-10-29,27.30,43,"[Bitcoin, Ethereum, Blockchain]",A 101 Noob Intro to Programming Smart Contract...,1446
2,https://medium.com/@maraoz,Manuel Araoz,6078,The Hitchhiker’s Guide to Smart Contracts in E...,2019-02-13,https://medium.com/zeppelin-blog/the-hitchhike...,2016-07-29,12.30,79,"[Smart Contracts, Ethereum, Blockchain, Open S...",The Hitchhiker’s Guide to Smart Contracts in E...,1122
3,https://medium.com/@sureforme21,Ralf Schmidt,50,"Ralf SchmidtFollowOct 20, 2017 · 3 min readQua...",2018-03-25,https://medium.com/@sureforme21/quantstamp-ska...,2017-10-20,2.37,0,"[Smart Contracts, ICO, German, Security, Block...",,1
4,https://medium.com/@thijsmaas,Thijs Maas,5645,"Yes, this kid really just deleted $300 MILLION...",2018-06-12,https://medium.com/hackernoon/yes-this-kid-rea...,2017-11-08,5.21,23,"[Blockchain, Ethereum, Technews, Cryptocurrenc...","Yes, this kid really just deleted $300 MILLION...",846

In [4]:
# check if there is any null values
new_blog.isna().any()

author_link           False
author_name           False
claps                 False
content               False
last_modified_date    False
post_link             False
publish_date          False
readtime              False
responses             False
tags                  False
title                 False
voters                False
dtype: bool

In [5]:
new_blog.shape

(4398, 12)

## create dataset of top n authors
#### example: n = 50

In [7]:
n = 50
top_50_authors = new_blog['author_name'].value_counts()[:n].index.tolist()
top_50_authors

['Gaurav Agrawal',
 'CertiK Foundation',
 'ConsenSys',
 'Web3 Foundation Team',
 'Etherparty Smart Contracts, Inc.',
 'Manuel Araoz',
 'TRON Foundation',
 'Zeppelin',
 'mingderwang',
 'Dan Finlay',
 'Daniel Wang',
 'Rob Hitchens',
 'Artyom Orlov',
 'New Alchemy',
 '胡家維 Hu Kenneth',
 'Nicole Zhu',
 'The Ontology Team',
 'Waves Platform',
 'Quantstamp Announcements',
 'W12',
 'Dock Team',
 'Bernhard Mueller',
 'Jeremy Epstein',
 'Lillian Jones',
 'Inmediate.io',
 'Merunas Grincalaitis',
 'Alexander Seleznev',
 'MaidSafe',
 'æternity',
 'Peter A. McKay',
 'Gustavo (Gus) Guimaraes',
 'Storj Labs',
 'OpenLaw',
 'Radar Relay',
 'Vladimir Tikhomirov',
 'BANKEX',
 'Bobby Dresser',
 'Hideyoshi Moriya',
 'Humanscape',
 'Polkadot',
 'Pablo Ruiz',
 'ELIX',
 'Steven McKie',
 'John Saddington',
 'dfkjl',
 'FunnyToken',
 'BlockChannel',
 'Dexaran',
 'Stefan Beyer',
 'Maurelian']

In [8]:
# let's keep only these 50 authors in a new dataframe
df = new_blog[new_blog['author_name'].isin(top_50_authors)]
df.shape

(737, 12)

In [9]:
# keep necessary columns
df = df[['author_name','claps','content','readtime','responses','tags','title','voters']]
df.columns

Index(['author_name', 'claps', 'content', 'readtime', 'responses', 'tags',
       'title', 'voters'],
      dtype='object')

In [11]:
# replace with value instead of author name, here we consider the 'index+1'
# top_50_authors.index('Dexaran')+1

In [12]:
for author in top_50_authors:
    df.loc[ df['author_name'] == author, 'author_name'] = top_50_authors.index(author)+1
df.head()

,author_name,claps,content,readtime,responses,tags,title,voters
1,3,6612,A 101 Noob Intro to Programming Smart Contract...,27.30,43,"[Bitcoin, Ethereum, Blockchain]",A 101 Noob Intro to Programming Smart Contract...,1446
2,6,6078,The Hitchhiker’s Guide to Smart Contracts in E...,12.30,79,"[Smart Contracts, Ethereum, Blockchain, Open S...",The Hitchhiker’s Guide to Smart Contracts in E...,1122
25,31,1270,Reentrancy Attack On Smart Contracts: How To I...,3.58,9,"[Ethereum, Solidity, Smart Contracts, Reentran...",Reentrancy Attack On Smart Contracts: How To I...,202
34,42,3697,"Smart Contracts DemoELIXFollowDec 18, 2017 · 2...",1.69,2,"[Blockchain, Finance, Cryptocurrency, Payments...",Smart Contracts Demo,138
41,22,1127,Analyzing Ethereum Smart Contracts for Vulnera...,5.25,4,"[Ethereum, Hacking, Reverse Engineering, Secur...",Analyzing Ethereum Smart Contracts for Vulnera...,132

In [14]:
# we see the indices are not sequential, let's fix that
df.reset_index(drop=True, inplace=True)
df.head()

,author_name,claps,content,readtime,responses,tags,title,voters
0,3,6612,A 101 Noob Intro to Programming Smart Contract...,27.30,43,"[Bitcoin, Ethereum, Blockchain]",A 101 Noob Intro to Programming Smart Contract...,1446
1,6,6078,The Hitchhiker’s Guide to Smart Contracts in E...,12.30,79,"[Smart Contracts, Ethereum, Blockchain, Open S...",The Hitchhiker’s Guide to Smart Contracts in E...,1122
2,31,1270,Reentrancy Attack On Smart Contracts: How To I...,3.58,9,"[Ethereum, Solidity, Smart Contracts, Reentran...",Reentrancy Attack On Smart Contracts: How To I...,202
3,42,3697,"Smart Contracts DemoELIXFollowDec 18, 2017 · 2...",1.69,2,"[Blockchain, Finance, Cryptocurrency, Payments...",Smart Contracts Demo,138
4,22,1127,Analyzing Ethereum Smart Contracts for Vulnera...,5.25,4,"[Ethereum, Hacking, Reverse Engineering, Secur...",Analyzing Ethereum Smart Contracts for Vulnera...,132

## Multilabel Classification with only text

#### import modules

In [21]:
# help: https://www.kaggle.com/code/sharat111/multilabelclassificationofblogauthor-completesoln

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt # data visualization library
%matplotlib inline
import seaborn as sns

import re
import nltk

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score, average_precision_score, recall_score


from nltk.tokenize import word_tokenize
from string import punctuation
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer #word stemmer class
lemma = WordNetLemmatizer()
from wordcloud import WordCloud, STOPWORDS
from nltk import FreqDist

In [36]:
final_df = df[['content', 'author_name']]
final_df.head()

                                             content author_name
0  A 101 Noob Intro to Programming Smart Contract...           3
1  The Hitchhiker’s Guide to Smart Contracts in E...           6
2  Reentrancy Attack On Smart Contracts: How To I...          31
3  Smart Contracts DemoELIXFollowDec 18, 2017 · 2...          42
4  Analyzing Ethereum Smart Contracts for Vulnera...          22

In [37]:
final_df['author_name'] = final_df['author_name'].astype('str')

#### Seperate features and labels

In [38]:
X = final_df['content']
y = final_df['author_name']

#### Split into train and test set

In [39]:
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size = 0.25)

### Vectorizing features

#### Create a Bag of Words using count vectorizer

In [40]:
# Consider only those rows which occur more than 15% and less than 80 %, also restrict features to 100

vectorizer = CountVectorizer(ngram_range = (1,2), stop_words=stopwords.words('english'), 
                             min_df = 0.15, max_df = 0.8, max_features = 100)

In [41]:
# transform the X data to document_term_matrix

X_train_dtm = vectorizer.fit_transform(X_train)
X_test_dtm = vectorizer.transform(X_test)
X_train_dtm

<552x100 sparse matrix of type '<class 'numpy.int64'>'
	with 19460 stored elements in Compressed Sparse Row format>

In [42]:
# check the vocabulary( First 15 features)
vectorizer.get_feature_names()[:10]

['2018',
 'account',
 'add',
 'address',
 'also',
 'amount',
 'audit',
 'based',
 'blockchain',
 'call']

#### Print the term-document matrix

In [43]:
print(X_train_dtm)

  (0, 0)	6
  (0, 36)	1
  (0, 94)	4
  (0, 21)	2
  (0, 29)	2
  (0, 22)	3
  (0, 27)	8
  (0, 14)	2
  (0, 90)	5
  (0, 69)	9
  (0, 15)	2
  (0, 23)	3
  (0, 89)	2
  (0, 86)	1
  (0, 53)	4
  (0, 16)	7
  (0, 65)	5
  (0, 42)	1
  (0, 55)	1
  (0, 73)	1
  (0, 58)	2
  (0, 11)	1
  (0, 25)	2
  (0, 8)	1
  (0, 47)	1
  :	:
  (550, 65)	20
  (550, 58)	1
  (550, 8)	12
  (550, 70)	15
  (550, 13)	2
  (550, 77)	1
  (550, 85)	4
  (550, 4)	2
  (550, 6)	1
  (550, 68)	1
  (551, 0)	1
  (551, 29)	2
  (551, 27)	1
  (551, 89)	1
  (551, 53)	5
  (551, 55)	1
  (551, 8)	1
  (551, 20)	1
  (551, 85)	1
  (551, 43)	1
  (551, 98)	2
  (551, 60)	1
  (551, 19)	1
  (551, 96)	2
  (551, 56)	1

In [44]:
# examine vocabulary and document term matrix together
pd.DataFrame(X_train_dtm.toarray(), columns = vectorizer.get_feature_names())

,2018,account,add,address,also,amount,audit,based,blockchain,call,...,using,value,version,wallet,want,way,web3,well,work,would
0,6,0,1,0,0,0,0,0,1,0,...,5,0,0,0,4,0,0,1,0,0
1,6,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1,3,0,6,0,0,0,1,11,0,...,4,0,0,0,1,1,0,0,1,0
3,0,0,0,0,2,0,0,0,1,0,...,0,1,0,1,1,0,0,0,0,0
4,0,0,0,0,2,0,4,0,10,0,...,0,1,0,0,0,0,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,0,0,1,3,1,0,0,0,3,4,...,2,0,3,0,0,2,0,0,2,0
548,2,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,2
549,0,6,0,8,3,4,5,0,0,2,...,1,4,8,0,0,0,0,0,0,0
550,1,0,0,0,2,0,1,0,12,0,...,1,0,0,0,0,0,0,0,0,0
551,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,2,0,2,0

In [45]:
# examine vocabulary and document term matrix together
pd.DataFrame(X_test_dtm.toarray(), columns = vectorizer.get_feature_names())

,2018,account,add,address,also,amount,audit,based,blockchain,call,...,using,value,version,wallet,want,way,web3,well,work,would
0,1,1,0,0,0,1,0,2,5,0,...,4,1,0,0,0,1,0,0,1,0
1,0,0,0,3,1,0,0,0,0,1,...,0,11,0,0,0,0,0,0,0,0
2,1,0,0,0,2,1,0,0,0,0,...,0,3,0,0,1,3,1,1,1,1
3,1,4,0,2,3,0,0,0,1,0,...,2,0,0,1,0,0,0,1,0,1
4,0,0,0,0,2,0,4,1,2,1,...,1,0,3,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
181,1,0,0,1,0,0,0,0,0,2,...,0,2,0,0,0,0,0,0,0,0
182,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
184,0,0,0,0,0,0,3,0,2,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(solver='lbfgs', multi_class='ovr')
ovr = OneVsRestClassifier(lr)

ovr.fit(X_train_dtm, y_train)
y_pred_ovr_test = ovr.predict(X_test_dtm)
#y_proba_ovr = ovr.predict_proba(X_test_dtm)
y_pred_ovr_test

array(['18', '7', '28', '43', '10', '26', '2', '12', '21', '9', '25',
       '24', '48', '5', '1', '16', '48', '23', '4', '19', '39', '8', '1',
       '21', '11', '1', '44', '42', '4', '5', '44', '46', '32', '2', '3',
       '34', '3', '16', '19', '14', '1', '10', '36', '42', '24', '22',
       '48', '27', '16', '46', '38', '38', '28', '2', '35', '31', '16',
       '13', '20', '1', '17', '30', '28', '6', '22', '1', '24', '12',
       '26', '20', '3', '23', '17', '17', '22', '19', '21', '3', '2',
       '49', '23', '4', '8', '32', '23', '9', '4', '16', '50', '38', '35',
       '18', '13', '25', '28', '24', '7', '6', '30', '9', '2', '35', '8',
       '6', '29', '8', '40', '3', '38', '5', '4', '16', '4', '14', '26',
       '11', '22', '4', '4', '19', '28', '1', '1', '43', '7', '7', '12',
       '14', '25', '45', '15', '2', '39', '3', '38', '15', '47', '8', '9',
       '44', '3', '2', '14', '24', '42', '4', '37', '46', '47', '19',
       '45', '25', '4', '34', '27', '3', '1', '36', '36', '40', '22', '3',
       '3', '8', '8', '31', '23', '6', '13', '35', '39', '16', '23', '5',
       '47', '8', '6', '21', '1', '18', '20', '7', '44', '9', '24'],
      dtype='<U2')

In [50]:
y_train[0]

'3'

In [56]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(solver='lbfgs', multi_class='ovr')
ovr = OneVsRestClassifier(lr)

ovr.fit(X_train_dtm, y_train)
y_pred_ovr_test = ovr.predict(X_test_dtm)
#y_proba_ovr = ovr.predict_proba(X_test_dtm)
y_pred_ovr_test

array(['18', '7', '28', '43', '10', '26', '2', '12', '21', '9', '25',
       '24', '48', '5', '1', '16', '48', '23', '4', '19', '39', '8', '1',
       '21', '11', '1', '44', '42', '4', '5', '44', '46', '32', '2', '3',
       '34', '3', '16', '19', '14', '1', '10', '36', '42', '24', '22',
       '48', '27', '16', '46', '38', '38', '28', '2', '35', '31', '16',
       '13', '20', '1', '17', '30', '28', '6', '22', '1', '24', '12',
       '26', '20', '3', '23', '17', '17', '22', '19', '21', '3', '2',
       '49', '23', '4', '8', '32', '23', '9', '4', '16', '50', '38', '35',
       '18', '13', '25', '28', '24', '7', '6', '30', '9', '2', '35', '8',
       '6', '29', '8', '40', '3', '38', '5', '4', '16', '4', '14', '26',
       '11', '22', '4', '4', '19', '28', '1', '1', '43', '7', '7', '12',
       '14', '25', '45', '15', '2', '39', '3', '38', '15', '47', '8', '9',
       '44', '3', '2', '14', '24', '42', '4', '37', '46', '47', '19',
       '45', '25', '4', '34', '27', '3', '1', '36', '36', '40', '22', '3',
       '3', '8', '8', '31', '23', '6', '13', '35', '39', '16', '23', '5',
       '47', '8', '6', '21', '1', '18', '20', '7', '44', '9', '24'],
      dtype='<U2')

In [57]:
y_pred_ovr_train = ovr.predict(X_train_dtm)
y_pred_ovr_train

array(['3', '7', '47', '35', '2', '23', '23', '33', '13', '8', '39', '15',
       '47', '8', '16', '28', '21', '6', '3', '40', '7', '35', '20', '2',
       '11', '49', '8', '38', '3', '45', '1', '3', '49', '1', '14', '25',
       '18', '22', '21', '40', '24', '30', '6', '48', '20', '10', '15',
       '31', '22', '3', '21', '12', '4', '41', '40', '33', '26', '11',
       '23', '39', '13', '29', '35', '21', '10', '17', '1', '36', '2',
       '3', '45', '2', '34', '48', '9', '8', '16', '25', '6', '9', '4',
       '8', '23', '27', '43', '50', '1', '8', '46', '18', '4', '3', '11',
       '23', '34', '7', '3', '34', '41', '36', '4', '34', '15', '24', '8',
       '9', '33', '8', '8', '23', '2', '13', '20', '27', '5', '26', '18',
       '5', '1', '22', '16', '35', '32', '33', '30', '50', '4', '10',
       '38', '41', '17', '31', '7', '1', '39', '15', '6', '18', '27',
       '12', '6', '41', '1', '41', '3', '19', '1', '4', '7', '5', '3',
       '5', '3', '6', '1', '5', '10', '11', '27', '18', '28', '27', '23',
       '5', '5', '4', '21', '31', '37', '25', '10', '7', '19', '31', '37',
       '1', '14', '30', '22', '31', '20', '5', '32', '45', '5', '27',
       '25', '20', '5', '33', '32', '21', '46', '8', '13', '27', '9',
       '38', '18', '1', '45', '37', '43', '5', '7', '10', '45', '14',
       '43', '41', '32', '12', '26', '20', '42', '25', '6', '39', '39',
       '30', '3', '1', '22', '36', '50', '4', '10', '9', '19', '10', '3',
       '18', '24', '17', '50', '12', '24', '7', '6', '1', '5', '44', '36',
       '29', '26', '1', '36', '29', '12', '3', '23', '15', '10', '13',
       '40', '37', '6', '15', '2', '49', '25', '14', '10', '2', '49',
       '28', '9', '21', '34', '39', '3', '18', '44', '28', '4', '24', '2',
       '44', '1', '23', '13', '2', '34', '2', '11', '28', '19', '13',
       '25', '9', '1', '48', '37', '1', '7', '47', '37', '2', '29', '15',
       '3', '43', '48', '16', '11', '7', '11', '1', '22', '27', '28', '4',
       '2', '15', '41', '1', '26', '36', '8', '36', '43', '44', '1', '17',
       '42', '5', '18', '24', '33', '48', '31', '9', '1', '18', '9', '1',
       '31', '1', '33', '11', '2', '15', '26', '47', '7', '8', '11', '4',
       '2', '42', '2', '1', '46', '12', '9', '13', '15', '21', '3', '42',
       '20', '15', '20', '40', '9', '40', '4', '21', '26', '14', '38',
       '45', '9', '11', '2', '8', '10', '20', '44', '6', '19', '8', '4',
       '2', '29', '35', '31', '4', '49', '5', '4', '37', '7', '10', '41',
       '14', '1', '30', '1', '5', '1', '23', '2', '5', '43', '7', '2',
       '4', '1', '7', '30', '23', '8', '17', '10', '1', '18', '3', '14',
       '46', '10', '6', '25', '15', '19', '2', '46', '20', '1', '20',
       '14', '4', '38', '1', '42', '9', '15', '44', '39', '3', '7', '11',
       '12', '47', '35', '3', '29', '32', '11', '5', '47', '25', '17',
       '22', '15', '20', '17', '13', '25', '11', '49', '6', '16', '16',
       '19', '19', '6', '38', '10', '17', '43', '33', '32', '14', '42',
       '45', '12', '22', '49', '3', '12', '50', '9', '22', '10', '26',
       '29', '1', '28', '42', '6', '27', '1', '38', '12', '16', '13',
       '13', '5', '1', '35', '34', '23', '24', '1', '46', '5', '35', '2',
       '6', '30', '47', '30', '36', '22', '21', '40', '7', '50', '42',
       '3', '21', '12', '50', '37', '11', '2', '17', '21', '9', '8', '3',
       '50', '28', '6', '11', '9', '49', '21', '14', '13', '5', '7', '9',
       '1', '8', '4', '6', '32', '27', '19', '4'], dtype='<U2')

In [58]:
def print_scores(actual, predicted, averaging_type):
    print('\nAVERAGING TYPE==> ',averaging_type)
    print('F1 score: ',f1_score(actual,predicted, average=averaging_type))
    print('Average Precision Score: ',average_precision_score(actual,predicted, average=averaging_type))
    print('Average Recall Score: ',recall_score(actual,predicted, average=averaging_type))

In [66]:
print('--------------------------TRAIN SCORES--------------------------------')
print('Accuracy score: ',accuracy_score(y_train, y_pred_ovr_train))

--------------------------TRAIN SCORES--------------------------------
Accuracy score:  1.0

In [67]:
print('--------------------------TEST SCORES--------------------------------')
print('Accuracy score: ',accuracy_score(y_test, y_pred_ovr_test))

--------------------------TEST SCORES--------------------------------
Accuracy score:  0.6

In [72]:
ten_pred = y_pred_ovr_test[:10]
ten_actual = y_test[:10]

In [73]:
ten_actual

9      33
187     7
432    28
569    16
673     6
50     26
619     2
345    12
532    34
363     9
Name: author_name, dtype: object

In [74]:
ten_pred

array(['18', '7', '28', '43', '10', '26', '2', '12', '21', '9'],
      dtype='<U2')